<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Campanero.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8943DB271D39844D00B7390A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8943DB3E1D39844E00B7390A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8943DB491D39844E00B7390A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
